name: CI_CD Laravel
on:
  push:
    branches: [ testing ]
jobs:

  test-php:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mariadb:10.2
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: neighbors
        ports:
          - 33306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Prepare The Environment
        run: cp .env.ci .env

      - name: Install Composer Dependencies
        run: |
          chmod -R 777 storage bootstrap/cache

      - name: PHP syntax checker
        uses: prestashop/github-action-php-lint/7.4@master
        with:
          folder-to-exclude: "! -path \"./vendor/*\" ! -path \"./customer/folder/excluded/*\""

      - name: Run Tests
        run: |
          php artisan serve > /dev/null 2>&1 &
          composer dump-autoload
          chmod -R 0755 vendor/laravel/dusk/bin/
          php artisan migrate --seed
          php artisan test
        env:
          APP_ENV: local
          APP_URL: "http://127.0.0.1:8000"
          DB_CONNECTION: mysql
          DB_DATABASE: neighbors
          DB_PORT: 3306
          DB_USER: neighbors
      - name: Deploy to QA
        uses: appleboy/ssh-action@master
        with:
          username: root
          host: 35.199.111.202
          password: adminneighbors
          script: 'cd /var/www/html && ./server_deploy.sh'
